# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Entornos virtuales
venv/
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Binarios externos
app/vendors/ffmpeg/
*.zip
*.exe

.idea/
*.tmp
*.srt
*.bat
/log.py
/1.py
/estructura.txt
/requirements.py
/app/assets/icons/arrow_down.svg
