# --- Python ---
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# --- Entornos virtuales ---
venv/
.env/
.venv/

# --- Archivos de sistema ---
.DS_Store
Thumbs.db

# --- IDEs ---
.vscode/
.idea/

# --- Binarios externos ---
app/vendors/ffmpeg/

# --- Tests / Coverage ---
.coverage
htmlcov/
.pytest_cache/

# --- Build / Distribución ---
build/
dist/
*.spec

# --- Logs / temporales ---
*.log
*.tmp
*.srt

# --- Archivos de pruebas locales (no necesarios en repo) ---
/log.py
/1.py
/estructura.txt
*.bat
app/assets/icons/arrow_down.svg
log.txt
